In [3]:
from scipy.stats import ks_2samp

In [4]:
import numpy as np

In [13]:
d1 = np.arange(100,200)
d2 = np.arange(10)

In [14]:
d1

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
       126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164,
       165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177,
       178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190,
       191, 192, 193, 194, 195, 196, 197, 198, 199])

In [15]:
d2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
test = ks_2samp(d1,d2)

In [20]:
round(test.pvalue)

0

In [25]:
train_file_path = "D:\Insights\MachineLearning\sensor-fault-detection\\artifact\\03_15_2023_13_25_22\data_ingestion\ingested\\train.csv"
test_file_path = "D:\Insights\MachineLearning\sensor-fault-detection\\artifact\\03_15_2023_13_25_22\data_ingestion\ingested\\test.csv"

In [26]:
import pandas as pd
train_df = pd.read_csv(train_file_path)
test_df = pd.read_csv(test_file_path)

In [27]:
train_df.columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)

In [28]:
test_df.columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)

In [30]:
d1 = train_df['aa_000']
d2 = test_df['aa_000']

In [31]:
test = ks_2samp(d1,d2)

In [32]:
test

KstestResult(statistic=0.006541153698027213, pvalue=0.9640108686301919)

In [47]:
from sensor.utils.main_utils import write_yaml_file

In [54]:
def get_drift_report(base_df, current_df, threshold=0.05):
    report={}
    for column in base_df.columns:
        d1 = base_df[column]
        d2 = current_df[column]
        test = ks_2samp(d1,d2)
        if threshold<=test.pvalue:
            is_found=False
        else:
            is_found=True
        report.update({column:{
            "p_value":float(test.pvalue),
            "drift_status":is_found
            }})
    return report

In [55]:
drift_report=get_drift_report(train_df, test_df)

In [56]:
import os

In [57]:
write_yaml_file(file_path=os.path.join(os.getcwd(),"report.yaml"), content=drift_report, replace=True)

In [1]:
# Testing MongoDB connection
!pip install pymongo

Requirement already satisfied: pymongo in c:\datascience\projects\machinelearning\sensor-fault-detection\venv\lib\site-packages (4.2.0)

In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@cluster0.pfkbq.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db

Database(MongoClient(host=['cluster0-shard-00-01.pfkbq.mongodb.net:27017', 'cluster0-shard-00-02.pfkbq.mongodb.net:27017', 'cluster0-shard-00-00.pfkbq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-o6eb13-shard-0', tls=True), 'test')

In [4]:
database_name = "ineuron"
student_database = client[database_name]

In [5]:
collection = "sensor"

In [6]:
collection = client[database_name][collection]

In [7]:
collection

Collection(Database(MongoClient(host=['cluster0-shard-00-01.pfkbq.mongodb.net:27017', 'cluster0-shard-00-02.pfkbq.mongodb.net:27017', 'cluster0-shard-00-00.pfkbq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-o6eb13-shard-0', tls=True), 'ineuron'), 'sensor')

In [9]:
import pandas as pd
df = pd.DataFrame(list(collection.find()))
df

,_id,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,64101c148706f89870210780,pos,153204,0,182,na,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0
1,64101c158706f89870210781,pos,453236,na,2926,na,0,0,0,0,...,7908038,3026002,5025350,2025766,1160638,533834,493800,6914,0,0
2,64101c158706f89870210782,pos,72504,na,1594,1052,0,0,0,244,...,1432098,372252,527514,358274,332818,284178,3742,0,0,0
3,64101c158706f89870210783,pos,762958,na,na,na,na,na,776,281128,...,na,na,na,na,na,na,na,na,na,na
4,64101c158706f89870210784,pos,695994,na,na,na,na,na,0,0,...,1397742,495544,361646,28610,5130,212,0,0,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36183,641023088706f898702194d7,neg,153002,na,664,186,0,0,0,0,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
36184,641023098706f898702194d8,neg,2286,na,2130706538,224,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
36185,641023098706f898702194d9,neg,112,0,2130706432,18,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
36186,641023098706f898702194da,neg,80292,na,2130706432,494,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
36187,641023098706f898702194db,neg,40222,na,698,628,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0